@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
}


#overview{
    border-bottom-right-radius: 200px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  
  #footer{
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  @media (min-width: 768px){
    #overview{
      border-bottom-right-radius: 300px;
    }
  }